
<div class="row">
  <div class="col-lg-6">
    <h2>XXX Agents</h2>
    <p class="lead">メンバー紹介＆マッチングサイト</p>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">エージェント一覧</h3>
      </div>
      <div class="panel-body">
        <% while ! @agents.empty? do %>
          <div class="row">
            <div class="col-lg-4">
              <%= render(:partial => 'agent_summary', :object => @agents.pop) %>
            </div>
            <div class="col-lg-4">
              <%= render(:partial => 'agent_summary', :object => @agents.pop) %>
            </div>
            <div class="col-lg-4">
              <%= render(:partial => 'agent_summary', :object => @agents.pop) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
